body {
  padding-top: 30px;
  background-color: magenta;
  background-color: hsl(257, 40%, 49%);
  width: 100%;
  margin: 0;
  text-align: center;
  background-image: url("images/bg-desktop.svg");
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2 {
  font-weight: 600;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.logo {
  position: absolute;
  left: 40px;
  margin-bottom: 10px;
}

.content {
  right: 10px;
  width: 40%;
  margin-left: 60px;
  color: white;
  padding-top: 50px;
}

.photo {
  padding-top: 50px;
  width: 50%;
}

.words {
  width: 70%;
  text-align: left;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  margin: 50px 100px ;

}

.btn {
  display: flex;
  flex-direction: column;
  left: 0;
  border: none;
  font-size: 17px;
  padding: 15px 50px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px;
  text-decoration: none;
  color:magenta;
  color: hsl(257, 40%, 49%);
  background-color: white;

}
.btn:hover {
  background: magenta;
  background:hsl(300, 69%, 71%);
  color: white;
  cursor: pointer;

}
.social {
  margin-right: 60px;
  right: 50px;
  gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fa-brands {
    color: white;
    border-radius: 100vmax;
    border: 1px solid white;
    transition: 300ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: border-color, color;
}
.fa-facebook-f {
    padding: 0.6em 0.9em;
  }
  .fa-twitter {
      padding: 0.6em 0.9em;

  }
  .fa-instagram {
      padding: 0.6em 0.9em;

  }
  .fa-brands:hover {
      border-color: magenta;
      color: magenta;
      cursor: pointer;
  }
